---
import Layout from '@/components/Layout.astro';
import BlogCard from '@/components/BlogCard.astro';
import BlogGrid from '@/components/BlogGrid.astro';
import Pagination from '@/components/ui/Pagination.astro';
import { BLOGS_PER_PAGE } from '@/consts';
import { loadBlogs } from '@/content-loaders/blog';

export async function getStaticPaths() {
  const paths = [];
  let page = 1;
  while (true) {
    const { blogs, totalPages } = await loadBlogs({ page, limit: BLOGS_PER_PAGE });
    if (page > totalPages) break;

    paths.push({
      params: {
        page: page.toString(),
      },
      props: {
        page,
        blogs,
        totalPages,
      },
    });

    page += 1;
  }

  return paths;
}
const { page, blogs, totalPages } = Astro.props;
---

<Layout>
  <section class="container">
    <Pagination page={page} totalPages={totalPages} />
    <BlogGrid>
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </BlogGrid>
    <Pagination page={page} totalPages={totalPages} />
  </section>
</Layout>

<style lang="scss">
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
